
.client-imgs-container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .client-img {
    height: 120px;
    width: auto;
    max-width: 320px;
    filter: grayscale(1);
    margin-right: 15px;
  }

@media screen and (max-width: 500px) {

    .client-img {
      margin-right: 0;
    }
}
