.client-imgs-container {
  justify-content: space-around;
  flex-wrap: wrap;
  opacity: 1;
}
.client-img {
  height: 120px;
  width: auto;
  max-width: 320px;
  filter: grayscale(1);
  margin-right: 15px;
}

.client-img:nth-child(5) {
  height: 71px;
  width: 83%;
}

@media screen and (max-width: 500px) {
  .client-img {
    margin-right: 0;
    height: 72px;
  }
  .client-img:nth-child(5) {
    border: 1px solid black;
    opacity: 0.7;
  }
}

@media screen and (max-width: 326px) {
  .client-img:nth-child(5) {
    height: 71px;
    width: 83%;
  }
}
