.big_title {
  font-size: 100px;
  max-width: 339px;
  color: white;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.full-page-height .big_title:nth-child(1) {
  /* border: 2px solid red; */
  opacity: 0;
}

.full-page-height {
  /* margin-right: 0;
  margin-left: 0; */
}
.full-page-height:nth-child(1) {
  /* border: 2px solid red; */
  margin-right: 0;
  margin-left: 0;
}

.big-fade-img {
  background: url("https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")  0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;

  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  max-height: 800px;
  margin-top: 40px;
  margin-bottom: 0;
}

.big-fade-img h1 {
  color: white;
  font-family: monospace;
  font-size: 69px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 80px;
  /* font-weight: bold; */
}
.rocket-div {
  display: flex;
  justify-content: start;
}

.medium-title {
  font-size: 50px;
  color: white;
  font-weight: 100;
}

.contain-content > img {
  /* min-width: 550px; */
  max-height: 370px;
  width: 550px;
}

.clients-row {
  margin-top: 155px !important;
  margin-bottom: 155px !important;
  /* background-color: white; */
}

.ideas-row {
  background: white;
  box-shadow: 1px 17px 112px 152px white;
  /* background-color: #68A39E; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.ideas-row h1 {
  color: #68A39E;
  font-size: 150px;
}

.row:nth-child(4) {
  /* border: 3px solid red; */
  margin-bottom: 150px;
}

/* .box {
  padding: 1rem;
  position: relative;
  padding: 23px;
  transition: .2s;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 3s ease infinite;
}

.box > img {
  background: #222;
  color: white;
  margin: 0;
} */

.box {
  padding:5px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.box > img {
  /* background: #222;
  color: white; */
  margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media screen and (max-width: 768px) {

  .row:nth-child(4) {
    /* border: 3px solid red; */
    margin-bottom: 0px;
  }

  
  .big_title {
    margin-top: 80px;
  }
  .rocket-div {
    justify-content: center;
  }
  .big_title:nth-child(1) {
    /* margin-top: 0; */
  }
  .rocket-div {
    margin-top: -100px !important;
  }
  .row {
    max-width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .col-md-7.d-flex:nth-child(1) {
    /* border: 1px solid red; */
    z-index: 1;
  }

  .big-fade-img {
    background: url(https://images.pexels.com/photos/933964/pexels-photo-933964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 0 0 no-repeat, radial-gradient(ellipse at center, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
    background-attachment: inherit;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
  }
  .big-fade-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .big-fade-img h1 {
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 8vh;
  }


  .full-page-height:nth-child(1) {
    height: 90vh;
  }
  .clients-row {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .ideas-row h1 {
    color: #68A39E;
    font-size: 118px;
  }
}

@media only screen and (max-width: 480px) {
  .ideas-row h1 {
    color: #68A39E;
    font-size: 13vh;
    max-width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
    /* border: 1px solid red; */

  }
}

