.about__page {
    background: linear-gradient(to top, beige, white);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 150px;
    flex-direction: column;
    min-height: 100vh;
}

.about__page > h1 {
    color: black;
    width: 90%;
}
.about__page > p {
    color: grey;
    width: 90%;
    margin-bottom: 30px;
}


