.footer__container {
    position: fixed;
    width: 100%;
    background: black;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    left: 0;
    contain: content;
    /* border: 1px solid red; */
    padding-bottom: 10px;
}
.footer__container h3 {
    color: white;
    font-size: 12px;
    /* border: 1px solid red; */
}
.footer__container p {
    color: white;
    font-size: 7px;
}


@media only screen and (max-width: 568px) {
    .footer__container {
        position: inherit;
    }
}

@media only screen and (max-width: 490px) {

}