
.border-on {
  border: 1px solid red;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-emphasis: center;
}

.orange {
  color: orange !important;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
}

.grey  {
  color: grey !important;
}


.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.opac-bg {
  background: rgba(0, 0, 0, 0,5);
}

.rounded {
  border-radius: 50%;
}

.main-title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 12vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Arial;
}
.nav__menu__container, .nav__container {
  background-color: black;
}

.nav__container > .flex-row {
  margin-left: 15px;
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}