.pane__container {
    width: 100%;
    /* border: 1px solid red; */
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 20%;
}

.pane__content__container {
    width: 70%;
    padding: 50px 80px;
    background: #ddd;
    opacity: 0;
}

.pane__content__container.desktop__only {
    margin-top: 40px;
}
.pane__container h1 {
    color: #282e34;
}

.pane__container p {
    color: #666;
}

@media only screen and (max-width: 885px) {
    .pane__content__container.desktop__only {
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .pane__content__container {
        width: 80%;
        padding: 10px 20px;
    }
    .pane__container h1 {
        text-align: center;
    }
}